header {
	margin-bottom: 1rem;
}

.header__logo {
	max-height: 150px;
}

header nav {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

li {
	position: relative;
}

header nav ul {
	display: flex;
	gap: 3rem;
}

header nav a::after {
	content: '';
	background-color: var(--colour-green);
	height: 1px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	top: 100%;
	opacity: 0;
}

header nav a:hover {
	color: var(--colour-blue);
	transition: all 0.5s ease;
}

header nav a:hover::after {
	opacity: 1;
	transition: all 0.5s ease;
}

header nav a.active {
	color: var(--colour-blue);
}
